body {
    align-items: center;
    background: whitesmoke;
    color: whitesmoke;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
    width: 100%;
}

.block1 {
    align-items: center;
    display: flex;
    height: 30%;
    justify-content: flex-start;
    width: 100%;
}

.buttonDiv {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: center;
    row-gap: 10%;
    width: 10%;
}

.mainBlock {
    align-items: center;
    background-color: black;
    border-radius: 20px;
    border: 1px slategray solid;
    box-shadow: 5px 5px 155px 30px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: center;
    width: 50%;
}

#S {
    border-color: #385ae0;
    color: #385ae0;
    font-size: 40px;
}

nav {
    width: auto;
    color: black;
    display: flex;
    justify-content: center;
    left: -100%;
    padding: 3rem;
    position: absolute;
    top: 15%;
    transform: translate(-50%, -50%);
}

input {
    background-color: transparent;
    border: none;
}

ul {
    display: flex;
    gap: 10rem;
}

.nav-pages a {
    color: #252525;
    color: transparent;
    font-family: "Lato", sans-serif;
    font-size: 1.75rem;
    font-weight: bold;
    text-decoration: none;
}

.active-nav {
    background-color: transparent;
    border-radius: 1rem;
    bottom: -8px;
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
}

.nav-item {
    position: relative;
}

.checkBox {
    align-items: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.43);
    border-radius: 15px;
    border: 3px slategray solid;
    cursor: pointer;
    display: flex;
    display: flex;
    font-family: "Lato", sans-serif;
    font-size: 30px;
    height: 15%;
    justify-content: center;
    justify-content: center;
    text-align: center;
    width: 65%;
    z-index: 100;
}

.fa-save {
    color: transparent;
    cursor: pointer;
    height: auto;
    margin-left: 5%;
    width: auto;
}

.footer {
    height: 50%;
    width: 10%;
    display: flex;
    flex-direction: column;
}

.timer {
    align-items: center;
    display: flex;
    font-family: "Lato", sans-serif;
    font-size: 180px;
    font-weight: 700 bold;
    height: 70%;
    justify-content: center;
    letter-spacing: 10px;
    margin: 0%;
    text-align: center;
    width: 100%;
}

.buttons {
    align-items: center;
    border-radius: 20px;
    display: flex;
    font-size: 40px;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 50%;
}

.buttons:hover {
    background-color: rgba(8, 3, 83, 0.35);
    cursor: pointer;
}

.savesBlock {
    align-items: flex-start;
    border-radius: 5px;
    border: 3px solid transparent;
    color: black;
    color: transparent;
    display: flex;
    flex-direction: column;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    height: 70%;
    justify-content: center;
    margin-left: 5%;
    overflow: auto;
    padding: 3%;
    row-gap: 5%;
    width: 100%;
}

#style-7::-webkit-scrollbar-track {
    background-color: #F5F5F5;
    border-radius: 10px;
}

#style-7::-webkit-scrollbar {
    background-color: #F5F5F5;
    width: 10px;
}

#style-7::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgba(63, 63, 207, 1) 0%, rgba(55, 46, 191, 1) 50%, rgba(63, 63, 207, 1) 100%);
    background: rgb(63, 63, 207);
    border-radius: 10px;
}

.timesave {
    align-items: center;
    column-gap: 3%;
    display: flex;
    height: 10%;
    justify-content: flex-start;
    width: 95%;
}

.name {
    overflow: hidden;
}

.box {
    align-items: center;
    color: rgb(0, 0, 0);
    color: transparent;
    display: flex;
    height: 90%;
    justify-content: center;
    text-align: center;
    width: 30%;
    font-size: 15px;
}

.removeBut {
    border-radius: 5px;
    border: 3px solid transparent;
}

.removeBut:hover {
    background-color: rgba(255, 0, 0, 0.35);
    cursor: pointer;
}

@media (max-width: 1700px) {
    .box {
        font-size: 12px;
    }
}

@media (max-width: 1300px) {
    .timer {
        font-size: 120px;
    }
    .savesBlock {
        width: 150px;
    }
}

@media (max-width: 1000px) {
    .timer {
        font-size: 80px;
    }
    .buttons {
        font-size: 25px;
    }
    .fa-save {
        transform: scale(75%);
    }
}

@media (max-width: 700px) {
    body {
        display: grid;
        align-content: center;
        justify-items: center;
        grid-template-columns: 50%;
        grid-template-rows: 15% 5% 35% 25%;
        row-gap: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    nav {
        grid-row-start: 1;
        grid-row-end: 2;
        top: 45%;
    }
    .buttonDiv {
        grid-row-start: 2;
        grid-row-end: 3;
        flex-direction: row;
        column-gap: 25%;
        height: 100%;
        width: 80%;
    }
    .checkBox {
        height: 90%;
    }
    .mainBlock {
        grid-row-start: 3;
        grid-row-end: 4;
        height: 100%;
        width: 100%;
    }
    .footer {
        grid-row-start: 4;
        grid-row-end: 5;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .fa-save {
        width: 50%;
    }
    .savesBlock {
        width: 200px;
    }
    .timesave {
        height: 20%;
    }
    .box {
        font-size: 10px;
    }
    .timer {
        font-size: 65px;
    }
    .buttons {
        font-size: 20px;
    }
}

@media (max-width: 510px) {
    body {
        row-gap: 2%;
    }
    .mainBlock {
        width: 125%;
    }
    .timer {
        font-size: 55px;
    }
    .footer {
        flex-direction: column;
        padding: 0%;
    }
    .savesBlock {
        height: 75%;
    }
}

@media (max-width: 400px) {
    ul {
        gap: 5rem;
    }
    .mainBlock {
        width: 125%;
        height: 75%;
    }
    .timer {
        font-size: 35px;
    }
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0%;
    }
    .savesBlock {
        height: 75%;
    }
}